<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- interceptor -->
	<bean id="creditCardInterceptor" class="component.interceptor.CreditCardInterceptor">
		<property name="creditCardService" ref="creditCardService" />
	</bean>
	<bean id="paymentInterceptor" class="component.interceptor.PaymentManageInterceptor">
		<property name="creditCardService" ref="creditCardService" />
		<property name="promoCodeService" ref="promoCodeService" />
		<property name="memberService" ref="memberService" />
	</bean>

	<!-- datasource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databaseName=clap" />
		<property name="username" value="sa" />
		<property name="password" value="passw0rd" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<!-- member model -->
	<bean id="memberHibernateDAO" class="member.model.MemberHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="memberService" class="member.model.MemberService">
		<property name="dao" ref="memberHibernateDAO" />
		<property name="sendEmail" ref="sendEmail" />
	</bean>

	<!-- email -->
	<bean id="sendEmail" class="component.email.SendEmail">
		<property name="emailUtility">
			<bean class="component.email.EmailUtility"></bean>
		</property>
		<property name="emailConfirm">
			<bean class="component.email.EmailconfirmCode"></bean>
		</property>
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="user" value="EEIT84Transplantor@gmail.com" />
		<property name="pass" value="TransplantorEEIT84" />
	</bean>

	<!-- payment model -->
	<bean id="creditCardDAO" class="payment.model.CreditCardHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="creditCardService" class="payment.model.CreditCardService">
		<property name="dao" ref="creditCardDAO" />
	</bean>
	<bean id="giftCardHibernateDAO" class="payment.model.GiftCardHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="giftCardService" class="payment.model.GiftCardService">
		<property name="dao" ref="giftCardHibernateDAO" />
	</bean>
	<bean id="promoHibernateDAO" class="payment.model.PromoHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="promoService" class="payment.model.PromoService">
		<property name="dao" ref="promoHibernateDAO" />
		<property name="categoryDAO" ref="categoryDAO" />
	</bean>
	<bean id="promoCodeHibernateDAO" class="payment.model.PromoCodeHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="promoCodeService" class="payment.model.PromoCodeService">
		<property name="dao" ref="promoCodeHibernateDAO" />
		<property name="promoService" ref="promoService" />
	</bean>
	<bean id="paymentManageAction" class="payment.controller.PaymentManageAction"
		scope="prototype">
		<property name="promoService" ref="promoService" />
		<property name="giftCardService" ref="giftCardService" />
		<property name="memberService" ref="memberService" />
		<property name="creditCardService" ref="creditCardService" />
		<property name="promoCodeService" ref="promoCodeService" />
	</bean>
	<bean id="prePromoteAction" class="paymentmanage.controller.PrePromoteAction"
		scope="prototype">
		<property name="promoService" ref="promoService" />
		<property name="categoryService" ref="categoryService" />
	</bean>
	<bean id="setPromoteAction" class="paymentmanage.controller.SetPromotionAction"
		scope="prototype">
		<property name="promoService" ref="promoService" />
		<property name="categoryService" ref="categoryService" />
	</bean>

	<!-- setting controller -->
	<bean id="changeSettingAction" class="setting.controller.ChangeSettingAction"
		scope="prototype">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean id="changePasswordAction" class="setting.controller.ChangePasswordAction"
		scope="prototype">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean id="oneClickAction" class="setting.controller.OneClickAction"
		scope="prototype">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean id="renewVIPAction" class="setting.controller.AutoRenewVIPAction"
		scope="prototype">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean id="autoRenewVIPAction" class="setting.controller.AutoRenewVIPAction">
		<property name="memberService" ref="memberService" />
	</bean>

	<!-- shopping model -->
	<bean id="cartDAO" class="shopping.model.CartHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="cartService" class="shopping.model.CartService">
		<property name="cartDAO" ref="cartDAO" />
		<property name="productService" ref="productService" />
		<property name="inventoryService" ref="inventoryService" />
		<property name="promoCodeService" ref="promoCodeService" />
	</bean>
	<bean id="orderFormHibernateDAO" class="shopping.model.OrderFormHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="orderDetailHibernateDAO" class="shopping.model.OrderDetailHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="returnService" class="shopping.model.ReturnService">
		<property name="orderFormService" ref="orderFormService" />
		<property name="productService" ref="productService" />
		<property name="orderDetailService" ref="orderDetailService" />
		<property name="inOutLogService" ref="inOutLogService" />
		<property name="inOutLogDAO" ref="inOutLogDAO" />
	</bean>
	<bean id="orderFormService" class="shopping.model.OrderFormService">
		<property name="orderFormHibernateDAO" ref="orderFormHibernateDAO" />
	</bean>
	<bean id="orderDetailService" class="shopping.model.OrderDetailService">
		<property name="orderDetailHibernateDAO" ref="orderDetailHibernateDAO" />
	</bean>

	<!-- inventory -->
	<bean id="inOutLogDAO" class="inventory.model.InOutLogHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="inOutLogService" class="inventory.model.InOutLogService">
		<property name="inOutLogDAO" ref="inOutLogDAO" />
		<property name="inventoryDAO" ref="inventoryDAO" />
	</bean>
	<bean id="inventoryDAO" class="inventory.model.InventoryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="inventoryService" class="inventory.model.InventoryService">
		<property name="inventoryDAO" ref="inventoryDAO" />
		<property name="inOutLogDAO" ref="inOutLogDAO" />
	</bean>
	<bean id="inOutAction" class="inventory.controller.InOutAction">
		<property name="inOutLogService" ref="inOutLogService" />
		<property name="inventoryService" ref="inventoryService" />
		<property name="productService" ref="productService" />
	</bean>
	<bean id="showInventory" class="inventory.controller.ShowInventory">
		<property name="inventoryService" ref="inventoryService" />
	</bean>
	<bean id="downloadInventoryExcel" class="inventory.controller.DownloadInventoryExcel">
		<property name="inventoryService" ref="inventoryService" />
	</bean>
	<bean id="showInOutLog" class="inventory.controller.ShowInOutLog">
		<property name="inOutLogService" ref="inOutLogService" />
	</bean>
	<bean id="downloadInOutLogExcel" class="inventory.controller.DownloadInOutLogExcel">
		<property name="inOutLogService" ref="inOutLogService" />
	</bean>
	<!-- product -->
	<bean id="productDAO" class="product.model.ProductHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="productimgDAO" class="product.model.ProductimgHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="productService" class="product.model.ProductService">
		<property name="productDAO" ref="productDAO" />
		<property name="productimgDAO" ref="productimgDAO" />
		<property name="inOutLogDAO" ref="inOutLogDAO" />
	</bean>
	<bean id="categoryDAO" class="product.model.CategoryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="categoryService" class="product.model.CategoryService">
		<property name="categoryDAO" ref="categoryDAO" />
		<property name="productService" ref="productService" />
	</bean>
	<bean id="preDisplayActionStruts" class="product.controller.PreDisplayAction">
		<property name="productService" ref="productService" />
		<property name="categoryService" ref="categoryService" />
	</bean>
	<bean id="updateProductAction" class="product.controller.UpdateProductAction">
		<property name="productService" ref="productService" />
	</bean>
	<bean id="setProductAction" class="product.controller.SetProductAction">
		<property name="productService" ref="productService" />
	</bean>
	<bean id="removeProductAction" class="product.controller.RemoveProductAction">
		<property name="productService" ref="productService" />
	</bean>

	<!-- hospital -->
	<bean id="hospitalDAO" class="hospital.model.HospitalHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="hospitalService" class="hospital.model.HospitalService">
		<property name="hospitalDAO" ref="hospitalDAO" />
	</bean>
	<bean id="doctorDAO" class="hospital.model.DoctorHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="doctorService" class="hospital.model.DoctorService">
		<property name="doctorDAO" ref="doctorDAO" />
	</bean>
	<bean id="locationDAO" class="hospital.model.LocationHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="locationService" class="hospital.model.LocationService">
		<property name="locationDAO" ref="locationDAO" />
	</bean>
     <bean id="hospitalInfo" class="hospital.controller.HospitalInfoAction">
		<property name="hospitalService" ref="hospitalService" />
		<property name="locationService" ref="locationService" />
	</bean>
	<!-- shopping controller -->
	<bean id="cartAction" class="shopping.controller.CartAction">
		<property name="cartService" ref="cartService" />
		<property name="promoCodeService" ref="promoCodeService" />
		<property name="inventoryService" ref="inventoryService" />
	</bean>
	<bean id="setCreditCardAction" class="shopping.controller.SetCreditCardAction">
		<property name="creditCardService" ref="creditCardService" />
	</bean>
	<bean id="orderFormAction" class="shopping.controller.OrderFormAction">
		<property name="orderFormService" ref="orderFormService" />
	</bean>
	<bean id="orderDetailAction" class="shopping.controller.OrderDetailAction">
		<property name="orderDetailService" ref="orderDetailService" />
	</bean>
	<bean id="checkOutAction" class="shopping.controller.CheckOutAction">
		<property name="productService" ref="productService" />
	</bean>
	<bean id="doCheckOutAction" class="shopping.controller.DoCheckOutAction">
		<property name="orderFormService" ref="orderFormService" />
		<property name="cartService" ref="cartService" />
		<property name="memberService" ref="memberService" />
		<property name="orderDetailService" ref="orderDetailService" />
	</bean>
	<bean id="deleteOrderAction" class="shopping.controller.DeleteOrderAction">
		<property name="orderFormService" ref="orderFormService" />
	</bean>
	<bean id="preReturnAction" class="shopping.controller.PreReturnAction">
		<property name="returnService" ref="returnService" />
	</bean>
	<bean id="returnAction" class="shopping.controller.ReturnAction">
		<property name="returnService" ref="returnService" />
	</bean>
	<bean id="doAppointmentAction" class="shopping.controller.DoAppointmentAction">
		<property name="inventoryService" ref="inventoryService" />
		<property name="inOutLogService" ref="inOutLogService" />
		<property name="orderFormService" ref="orderFormService" />
		<property name="orderDetailService" ref="orderDetailService" />
	</bean>
	<bean id="appointmentAction" class="shopping.controller.AppointmentAction">
		<property name="hospitalService" ref="hospitalService" />
		<property name="doctorService" ref="doctorService" />
		<property name="orderDetailService" ref="orderDetailService" />
	</bean>
	<bean id="deleteCartAction" class="shopping.controller.DeleteCartAction">
		<property name="cartService" ref="cartService" />
	</bean>

	<!-- simulator -->
	<bean id="simulatorAction" class="simulator.controller.SimulatorAction"
		scope="prototype">
		<property name="productService" ref="productService" />
		<property name="categoryService" ref="categoryService" />
	</bean>
	<bean id="bodySimulatorAction" class="simulator.controller.BodySimulatorAction"
		scope="prototype">
		<property name="productService" ref="productService" />
		<property name="categoryService" ref="categoryService" />
	</bean>
	<bean id="oneclickPackAction" class="simulator.controller.OneclickPackAction">
		<property name="productService" ref="productService" />
		<property name="orderFormService" ref="orderFormService" />
		<property name="orderDetailService" ref="orderDetailService" />
		<property name="inventoryService" ref="inventoryService" />
	</bean>

	<!-- <bean id="showProductsAction" class="simulator.controller.ShowProductsAction"> -->
	<!-- <property name="productService" ref="productService" /> -->
	<!-- <property name="categoryService" ref="categoryService" /> -->
	<!-- <property name="simulatorService" ref="simulatorService" /> -->
	<!-- </bean> -->

	<bean id="savePackAction" class="simulator.controller.SavePackAction">
	</bean>
	<bean id="getPackAction" class="simulator.controller.GetSavedPack">
	</bean>
	<bean id="addToCartAction" class="simulator.controller.AddToCartAction">
		<property name="cartService" ref="cartService" />
	</bean>
	<!-- <bean id="enviromentSimulatorAction" class="simulator.controller.EnviromentSimulatorAction"> -->
	<!-- <property name="simulatorService" ref="simulatorService" /> -->
	<!-- </bean> -->


</beans>
