<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- datasource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
		<property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=clap"/>
		<property name="username" value="sa"></property>
		<property name="password" value="passw0rd"></property>
	</bean>
<!-- 	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
<!-- 		<property name="jndiName" value="java:comp/env/clap/db"></property> -->
<!-- 	</bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>


	<!-- member -->
	<bean id="memberDAO" class="member.model.MemberJdbcDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="memberService" class="member.model.MemberService">
		<property name="dao" ref="memberDAOHiber" />
		<property name="sendEmail" ref="sendEmail"></property>
	</bean>

	<!-- email -->
	
	<bean id="memberDAOHiber" class="member.model.MemberDAOHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sendEmail" class="member.model.email.SendEmail">
		<property name="emailUtility">
			<bean class="member.model.email.EmailUtility"></bean>
		</property>
		<property name="emailConfirm">
			<bean class="member.model.email.EmailconfirmCode"></bean>
		</property>

		<property name="host" value="smtp.gmail.com"></property>
		<property name="port" value="587"></property>
		<property name="user" value="EEIT84Transplantor@gmail.com"></property>
		<property name="pass" value="TransplantorEEIT84"></property>
	</bean>

	<!-- setting -->
	<bean id="demoAction" class="setting.controller.GetSettingAction">
		<property name="memberService" ref="memberService"></property>
	</bean>


</beans>
