<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

<display-name>Clap</display-name>


	<resource-ref>
		<res-ref-name>clap/db</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
    <error-page>
      <error-code>404</error-code>
      <location>/error.jsp</location>
    </error-page>
    <error-page>
      <error-code>500</error-code>
      <location>/error.jsp</location>
    </error-page>

	<filter>
		<filter-name>OpenSessionViewFilter</filter-name>
		<filter-class>component.filter.OpenSessionViewFilter</filter-class>
	</filter>
<!-- 	all the mapping with transaction -->
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/setting/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/payment/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/paymentmanage/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/member/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/shopping/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/hospital/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/product/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionViewFilter</filter-name>
		<url-pattern>/simulator/*</url-pattern>
	</filter-mapping>
	
	
	
	
	<filter>
		<filter-name>ActoinContextFilter</filter-name>
		<filter-class>component.filter.ActoinContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ActoinContextFilter</filter-name>
		<url-pattern>/member/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>BctoinContextFilter</filter-name>
		<filter-class>component.filter.PaymentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BctoinContextFilter</filter-name>
		<url-pattern>/payment/*</url-pattern>
	</filter-mapping>
	<filter>
	  <filter-name>getCategoryFilter</filter-name>
	  <filter-class>component.filter.GetCategoriesFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>getCategoryFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>EEIT84Transplantor@gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>pass</param-name>
		<param-value>TransplantorEEIT84</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>component.listener.InitListener</listener-class>
	</listener>



</web-app>