body, html {
	background: #062128;
	color: #fff;
	font-size:18px;
}

#sign_form {
	border: 1px solid #47BED9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 600px;
	padding: 30px 60px;
	box-sizing: border-box;
	margin: 100px auto;
}

#sign_form input {
	color: #000;
}

#sign_form .row {
	margin-bottom: 30px;
}

#sign_form span {
	color: #666;
}

.form_title {
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
}

#btn_group .col {
	padding: 0 10px;
}

#sign_form .btn {
	background: #47BED9;
}

label {
	font-weight: normal;
}

#payment_detail {
	border: 1px solid #fff;
	border-top: none;
	padding: 10px;
	min-height: 450px;
}

.payment_detail_box {
	width: 290px;
	height: 170px;
	float: left;
	margin: 8px;
}

.creditCard {
	background: url("../images/credit_card.png") center no-repeat;
	background-size: cover;
	width: 290px;
	height: 170px;
	margin: 0 auto;
	position: relative;
}

.delete_card {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.creditCard:hover .delete_card {
	display: block;
}

.credit_info {
	padding: 15px;
	position: relative;
	height: 100%;
	width: 100%;
}

.creditCard img {
	position: absolute;
	top: 5px;
	right: 15px;
}

.cc_number {
	position: absolute;
	letter-spacing: 3px;
	font-size: 20px;
	top: 85px;
	left: 30px;
}

.cc_goodthru {
	position: absolute;
	top: 120px;
	left: 165px;
}

.cc_name {
	position: absolute;
	top: 140px;
	left: 35px;
	letter-spacing: 3px;
}

.delete_card span.glyphicon {
	text-shadow: 1px 1px #000;
	color: #CE0000;
	font-weight: light;
	font-size: 50px;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 70px;
}

.addCard {
	background: #47BED9;
	color: #fff;
	width: 290px;
	height: 170px;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px;
}

.addCard input {
	color: #000;
}

.addCard_plus {
	border: 1px solid #47BED9;
	padding: 50px;
	font-size: 30px;
	width: 290px;
	height: 170px;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #47BED9;
}

.table>thead>tr>th {
	color: #47BED9;
}

.table>tbody>tr>td {
	border: none;
}

.table>tbody>tr:nth-child(odd) {
	background-color: #3c3c3c;
}

.delete_promo span {
	color: red;
}

.table>tbody>tr>th {
	vertical-align: middle;
}
/*---------------------------*/
@CHARSET "UTF-8";


.navbar-default {
	background-color: #000;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #47BED9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #47BED9;
	background-color: #062128;
}

.nav-pills>li>a {
	padding: 1px 7px;
	color: #000;
	font-size: 14px;
}

.nav-pills>li {
	border-right: 1px #000 solid;
}

.nav-pills>li:last-child {
	border-right: none;
}

.navbar-nav>li>a {
	padding: 10px;
	margin-left:20px;
}

.nav-pills .dropdown .dropdown-menu>li>a {
	font-size: 12px;
	padding: 3px 5px;
}

.nav-pills .dropdown .dropdown-menu {
	min-width: 77px;
	text-align: center;
}

.nav-pills {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background-color: #fff;
	margin-top: 15px;
}

.navbar {
	background: url("../images/light_bar.png") bottom center no-repeat;
	padding-bottom: 35px;
	background-size: container;
	margin-bottom: 0;
}

.container-fluid {
	padding-right: 100px;
	padding-left: 100px;
	max-width: 1400px;
}

#main_context {
	background-size: cover;
	height: 1000px;
	width: 100%;
	padding-top: 30px;
}

footer {
	background: url("../images/light_bar.png") top center no-repeat;
	padding-top: 45px;
	padding-bottom: 30px;
	background-size: container;
	margin-top: 50px;
}

li {
	list-style-type: none;
}

ul {
	-webkit-padding-start: 5px;
}

.footer_text {
	margin: 0 70px;
	float: left;
}

a {
	color: #fff;
}

#side_bar {
	border: 1px #fff solid;
	padding: 20px;
}

.side_bar_session {
	border-bottom: 1px #fff solid;
	margin-bottom: 10px;
}

.side_bar_session:last-child {
	border-bottom: none;
}

h2, .h2 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
/* 	padding-left: 15px; */
	color: #47BED9;
}

h3, .h3,h3 a {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}

h4, .h4 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #2EBCEF;
	letter-spacing: 0.2em;
}

.c_product img {
	background-color: rgba(122, 205, 243, 0.4);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 15px;
}

.c_product {
	background: rgba(122, 205, 243, 0.4);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}

.c_product p {
	word-wrap: break-word;
	font-weight: normal;
}

.c_product .btn {
	padding: 2px 4px;
	font-size: 6px;
	font-weight: light;
}

.c_quantity {
	display: inline-block;
	background: #fff;
	color: #000;
}

.c_product_tool {
	margin: 0 auto;
}

.c_product_tool a {
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-sizing: border-box;
	padding: 5px 7px;
}

.buynow {
	color: #B8D33F;
	border: 1px solid #B8D33F;
	width: 80%;
	float: left;
}

.buynow:hover {
	background: #B8D33F;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.addtocart {
	min-width: 30px;
	background: #B8D33F;
	float: right;
}

.c_product_tool:after {
	content: "";
	display: block;
	clear: both;
}

.nav-tabs {
	color: red;
}
/*------------------------------------------------------------------------------------*/
/* 翻轉 */
.flip-container {
	perspective: 1000;
	width: 290px;
	height: 170px;
	float: left;
	margin: 8px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flipper {
	transition: 1.2s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
/*------基本設定---------*/
header {
	position: relative;
	z-index: 1000;
}

#top-wrap {
	margin: 0;
	margin-top: -15px;
}

#wrap {
	padding-top: 20px;.
    height:800px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 10px;
	padding-left: 10px;
}
/*-------購物車側邊選單----------*/
#sideMenu a.list-group-item:focus, #categoryMenu a.list-group-item:hover
	{
	background-color: #000;
}

#sideMenu .list-group-item {
	background-color: #000;
	color: #47BED9;
	border: none;
}

#sideMenu .list-group-item:last-child {
	border-bottom: none;
}

#sideMenu .panel {
	background: white;
	padding-bottom: 1px;
}

#sideMenu .list-group-item:last-child, #categoryMenu .list-group-item:first-child
	{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#sideMenu .sub_list {
	color: white;
	border: none;
}

#sideMenu .collapse a:hover {
	background: #000;
}

.p_discribe {
	margin-top: 15px;
}
/*-------飛入購物車--------------*/
.cart_anchor{ 
    float:right; 
    vertical-align:top; 
    background: url("../images/box.png") no-repeat center center / 100% auto;
    width: 30px;
    height: 30px;
}
/*----------*/
.popularimg:hover{
	-webkit-filter: contrast(200%); /* Chrome, Safari, Opera */
    filter: contrast(200%);
}
input, select, textarea{
	color:#000;
}
#userList{

	width: 150px; height: 500px;
}

#userList li{
	text-align: center;
	display:block;
	
	width:match-parent;
/* 	height:50px; */
padding:20px 30px;

}
#userList li:hover{
	background-color: #4D4A54;
	 cursor: pointer;
}
#chatBackgroundWhole{
	 background: url("../images/chatbackground.jpg") ;
}
#dialog{
	width:match-parent;
}
