@CHARSET "UTF-8";

/*-------------------- all page --------------------*/
body {
	margin: 0;
}

body * {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

body div {
	height: 100%;
}

img {
	position: absolute;
	left: 0;
}

section {
	width: 100vw;
	height: 100vh;
	position: relative;
}

section * {
	position: absolute;
}

section>div {
	width: 100%;
	height: 100%
}

h1 {
	font-size: 40px;
}

h3 {
	font-weight: 300;
}

.half {
	height: 100%;
	width: 50%;
}

.right {
	top: 0;
	right: 0;
}

.left {
	top: 0;
	left: 0;
}

.middle {
	left: 50%;
	transform: translate(-50%, 0);
}

.blod {
	line-height: 0.9;
	font-size: 100px;
	font-family: 'Open Sans';
}

/*-------------------- section banner --------------------*/
.screen {
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
}

#front {
	width: 50%;
	bottom: -30%;
}

#middle {
	width: 70%;
	left: 30%;
	top: 0%;
}

#end {
	width: 80%;
	left: 40%;
	top: 0;
}

#slogan {
	position: absolute;
	top: 70%;
	left: 58%;
	font-size: 40px;
	color: white;
	font-family: 'Poiret One', cursive;
}

#bg {
	height: 100%;
	width: 100%
}

/*-------------------- section origin --------------------*/
#origin {
	height: 100vh;
}

#organ {
	background-color: rgb(29, 74, 89);
	position: relative;
}

#cellsvg {
	position: absolute;
	left: 25%;
	top: 30%;
}

#og_text {
	width: 30%;
	right: 20%;
	top: 25%;
	color: white;
}

#og_text p {
	font-family: "微軟正黑體";
	color: white;
}

/*-------------------- section origins --------------------*/
#organs>div {
	width: 50%
}

#os_type0 {
	text-align: left;
	left: 0;
}

#os_type0 * {
	width: 70%;
	left: 20%;
	text-align: left;
	position: relative;
}

#os_type0 h1 {
	margin-top: 150px;
	margin-bottom: 150px;
	font-size: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#os_type0 p {
	font-size: 25px;
	font-family: "微軟正黑體";
}

#os_type1 {
	right: 0;
}

#cell {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#arrow {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#stomach {
	top: 30%;
	left: 25%;
	transform: translate(-50%, -50%);
}

#heart {
	top: 30%;
	left: 75%;
	transform: translate(-50%, -50%);
}

#lung {
	top: 70%;
	left: 25%;
	transform: translate(-50%, -50%);
}

#liver {
	top: 70%;
	left: 75%;
	transform: translate(-50%, -50%);
}

/*-------------------- section structure --------------------*/
#structure {
	background-color: rgb(207, 207, 207);
	height: 80vh;
}

#st_type0 {
	width: 70%;
	height: 10%;
	top: 10%;
}

#st_type0 h1 {
	color: white;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

#st_type1 {
	width: 70%;
	height: 70%;
	top: 40%;
}

#st_type1 * {
	position: relative;
}

#st_type1 div {
	width: 33.33%;
	height: 100%;
	float: left;
}

#st_type1 h3 {
	color: white;
}

#st_type1 p {
	width: 70%;
	margin: 20px auto;
	color: white;
}

#st_type1 img {
	width: 80px;
	height: 80px;
	opacity: 0.2;
}

/*-------------------- section team --------------------*/
#team {
	background-color: white;
}

#team>div {
	position: relative;
}

#tm_type0 {
	height: 50vh;
}

#tm_type0 p {
	font-size: 50px;
	text-align: left;
	left: 10%;
	width: 35%;
	top: 10%;
	margin: 25px;
}

#tm_type1 {
	height: 45vh;
	background-position: center;
	overflow: hidden;
}

#tm_type1 * {
	position: relative;
}

#tm_type1 .tm_inf {
	float: left;
	width: 25%;
	overflow: hidden;
}

#tm_type1 img {
	height: 80%;
}

#tm_type1_bg {
	width: 100vw;
	height: 80%;
	position: absolute;
	background-color: #D9E0E6;
}

/*-------------------- section mvc --------------------*/
#mvc {
	background-color: white;
	height: 100vh;
}

#mvc_type0 {
	height: 100vh;
}

#mvc_type0 .tm_mvc {
	height: 40%;
	width: 20%;
	border: 1px solid;
	border-radius: 100%;
	position: relative;
	float: left;
	top: 20%;
	left: 13%;
	margin: 2%;
	color: white;
	font-size: 100px;
}

#mvc_type0 img {
	width: 5%;
	top: 40%;
	left: 47%;
}

/*-------------------- section skill --------------------*/
#skill {
	width: 100vw;
	background-color: #EAEAEA;
}

#sl_type0 {
	position: relative;
	width: 100%;
	height: 25%;
}

#sl_type0 h1 {
	top: 40%;
	padding-bottom: 20px;
	border-bottom: 1px solid #aaaaaa;
}

#sl_type1 {
	position: relative;
	width: 100%;
	height: 75%
}

#sl_type1>div {
	position: relative;
	height: 29%;
	width: 43%;
	margin-top: 1%;
	left: 50%;
	transform: translate(-50%, 0);
}

#sl_type1>div>img {
	background-color: white;
	height: 100%;
	border-radius: 999px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0
		rgba(0, 0, 0, 0.05);
}

#think {
	width: 43%;
	position: absolute;
	top: 27%;
	left: 28.5%;
}

#think img {
	position: relative;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
	margin-bottom: 2%;
}

/*-------------------- section XXX --------------------*/

/*-------------------- section XXX --------------------*/