@CHARSET "UTF-8";

.htable {
	width: 100%;
	color: #47BED9;
	text-align: center;
}

.newcard {
	border: 1px solid #47BED9;
	width: 290px;
	height: 170px;
	margin: 0 auto;
	border-radius: 5px;
	color: #47BED9;
}

.newcard table {
	text-align: center;
}
